<md-content>
    <md-toolbar flex-offset-sm>
    	<div class="md-toolbar-tools">
          <h3 class="ng-binding">Авторизация</h3>
          <span class="flex"></span>
        </div>
    </md-toolbar>
</md-content>
<md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
    <md-input-container>
      <label>Логин</label>
      <input>
    </md-input-container>
    <md-input-container>
      <label>Пароль</label>
      <input type="password">
    </md-input-container>
</md-content>
<md-button class="md-raised">Вход</md-button>